
table {
    border: 1px solid black;
    margin: 0 auto; 
    border-collapse: collapse;
    width: 80%;
}

th {
    border: 1px solid green;
}

td {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

tr:hover {
    transform: scaleY(1.1);
    background-color: lightpink;
    font-weight: 600;
    border: 1px solid black;
}

button {
    width: 12%;
    display: inline-block;
    margin: 40px auto;
    margin-left: 44%;
}


/* Прелоадер */



